doctype html

html
  head
    title Books
    link(rel='stylesheet', href="../static/stylesheets/style.css")
  body
    h1 Books 
    p 
      a.button(href="/books/new") Create New Book
    table 
      thead 
        tr 
          th Title 
          th Author 
          th Genre 
          th Year 
      tbody 
        each book in books
          tr 
            th 
              a(href=`/books/${book.id}`)= book.title
            th= book.author 
            th= book.genre 
            th= book.year
      .searchbar
        form(action='/books/search', method='get')
          input(type='search' id="search" name="search" placeholder='Book Search...')
          input#searchbutton(type='submit' value="search")
      p
        - for (let i = 0; i < allPages; i++)
          if searchQuery
            a.pagenum(href=`/books/search?search=${searchQuery}&page=${i}`)= `${i}`
          else 
            a.pagenum(href=`/books?page=${i}`)= `${i}`
