doctype html

html
  head
    title Books
    link(rel='stylesheet', href="../static/stylesheets/style.css")
  body
    h1 
      a(href=`/`) Books 
    p 
      a.button(href="/books/new") Create New Book
    table 
      thead 
        tr 
          th Title 
          th Author 
          th Genre 
          th Year 
      tbody 
        each book in books
          tr 
            th 
              a(href=`/books/${book.id}`)= book.title
            th= book.author 
            th= book.genre 
            th= book.year
      .searchbar
        form(action='/books', method='get')
          input(type='search' id="search" name="search" placeholder='Book Search...')
          input#searchbutton(type='submit' value="search")
      if searchQuery
        //- pages with a search query
        .pagination 
          a.button(href=`/books?search=${searchQuery}&page=${prevPage}`) &#60;
          - for (let i = 0; i < allPages; i++)
            a.pagenum(href=`books?search=${searchQuery}&page=${i}`)= `${i}`
          a.button(href=`/books?search=${searchQuery}&page=${nextPage}`) &#62;
        h4= `${count} results for "${searchQuery}":`
      else 
        //- pages without a search query
        .pagination
          a.button(href=`/books?page=${prevPage}`) &#60;
          - for (let i = 0; i < allPages; i++)
            a.pagenum(href=`books?page=${i}`)= `${i}`
          a.button(href=`/books?page=${nextPage}`) &#62;